<!-- C++ /bottom p -->
<div id='bottom'>

<div id='bottom-sayings'>
<div id='bottom-sayings-inner'>
<p class='bottom-saying bottom-saying-small'>
In pursuit of freedom, justice, dignity and democracy and led by principles of equality and environmental sustainability, the Charter proclaims a new social contract, based upon mutual and peaceful coexistence and understanding between all strands of society ... 
In establishing this Charter, we declare a political system and civil administration founded upon a social contract that reconciles the rich mosaic of Syria through a transitional phase from dictatorship, civil war and destruction, to a new democratic society where civic life and social justice are preserved.
<b class='bottom-saying-src'>
&mdash; The Constitution of the Rojava Cantons
<br><a href='https://civiroglu.net/the-constitution-of-the-rojava-cantons/'>civiroglu.net/the-constitution-of-the-rojava-cantons</a>
</b></p>


<p class='bottom-saying bottom-saying-small'>
The current state of our world is unsustainable in more ways that we often recognize.  
Technology is part of the dilemma and part of possible responses.  
We often talk about the immediate impact of technology, 
but rarely acknowledge its indirect and systemic effects.  
These effects play out across all dimensions of sustainability over the short, medium and long term.
Software in particular plays a central role in sustainability. 
It can push us towards growing consumption of resources, growing inequality in society, and lack of individual self- worth.  
But it can also create communities and enable thriving of individual freedom, democratic processes, and resource conservation. 
As designers of software technology, we are responsible for the long-term consequences of our designs. 
<b class='bottom-saying-src'>
&mdash; The Karlskrona Manifesto for Sustainability Design 
<br><a href='http://sustainabilitydesign.org/karlskrona-manifesto/'>sustainabilitydesign.org</a>
</b></p>

<p class='bottom-saying'>
Once you have a commitment to something, all these things that you thought were normal 
in your day-to-day life become unnecessary luxuries.
<b class='bottom-saying-src'>
&mdash; Bernahu Nega
<br><a href='http://www.nytimes.com/2016/09/04/magazine/once-a-bucknell-professor-now-the-commander-of-an-ethiopian-rebel-army.html?_r=0'>
The New York Times</a>
</b></p>
</div>
</div>


<div id='title-centering'>
<h1 id='title'>
ScignScape
</h1><!--.[if !IE]><!--><hr/><!--<!.[endif]--></div><div id='bottom-lift'>
<div id='banner-centering'>
<div id='banner'>
<div id='banner-table'>
<center>
<table>
<table>
<tr>
<td align='center' colspan="2"
style='border-top:none;text-align:right;padding-right:10px;padding-left:7px;padding-bottom:none;padding-top:6px;'
><span><b>Sci</b>ence <em class='sl-temp'></em><em class='and-temp'>and</em></span></td>
<td align='center' colspan="1"
style='border-top:none;text-align:center;
 padding-right:10px;padding-left:7px;padding-bottom:none;padding-top:6px;'
><span>Co<b>g</b>nitive</span> <!-- <span>Humanities<span> -->
</td>
<td align='center' colspan="1"
style='border-top:none;text-align:left;
 padding-right:10px;padding-left:10px;padding-bottom:none;padding-top:6px;'
><span>Huma<b>n</b>ities</span></td>
</tr><tr>

<td colspan="1"
style='border-bottom:none;text-align:center;padding-left:none;
border-left:none;border-right:solid tan 1px;padding-right:20px;margin-right:3px;'
><span style='position:relative;left:6pt;'><em class='temp' style='padding-right:12pt'>on the</span></td><td colspan="1"
style='border-bottom:none;text-align:center;border-left:none;padding-right:10px;'
><span><b>S</b>emanti<b>c</b></span></td><td align='center' colspan="1"
style='padding-top:none;padding-bottom:4px;padding-right:10px;
 padding-left:10px;text-align:right;border-bottom:none;'
><span><b>Ap</b>plication<span></td> 

<td colspan="1"
style='padding-top:none;padding-right:10px;padding-left:10px;text-align:left;border-bottom:none;'

><span>W<b>e</b>b</span></td>

</tr></table>
</div>

<div id='welcome'>
This page and site design Copyright 2016 Nathaniel Christen.
</div></span></span></td></tr></table></table></center></div></div></div></div></div>
