<!-- C++ /top-banner p --> 

<div id='top-banner-div'>
<table id='top'>
<tr id='top-tr'>
<!--
<td id='intro-left-margin-small'>&nbsp;</td>
<td id='intro-left-center-small'>&nbsp;</td> -->
<td id='intro-left-margin'>&nbsp;</td>
<td id='intro-left-center'>&nbsp;</td>
<td id='intro-wrap'>
<table><tr><td>

<div id='intro'>
<b class='sc'>In hours, the Assembly accomplished more for the people than the
wisest, most enlightened rulers had in centuries.
</b>It marked a stunning change.
Centuries of law, tradition and
theology had proclaimed inequality of condition the mutual
dependence of men ...  Those who rejected this ... were few and
exclusively disciples of the <i>philosophes</i>.
<b class='sc'>Philosophy
swayed the public and no one could arrest its course.</b>
</div></td></tr><tr><td>

<div id='banner-words' style='position:relative;top:-1px'>
Jonathan Israel, <i>An Intellectual History of the French Revolution,</i> p. 74
</div></td></tr></table>

</td>
<td id='intro-right-center'>&nbsp;</td>
<td id='intro-right-margin'>&nbsp;</td>
</tr>
</table>

<!--
<h2 id='top-hr-h2'>
<div>
<b><span style='font-size:14pt'> Progressive Technology Network 

</span> </b></div>
</h2>
-->
