
<div id='top-background'> 
</div> 

<div id='top-container-first-row'>

<a href='/index.html'
onclick="window.open('/index.html','_self'"
>
<img id='logo' src='/pics/logo.png'/>
</a>

<span class='home-wrapper'><a href='/index.html'
onclick="window.open('/index.html','_self'"
>
(HOME)</a></span>


<span class='top-banner-segments'>

<span class='top-banner-label-group'>

<span class='top-banner-label'>
<span>
Features:
</span>
</span>

<span class='top-banner-link'>
<a href='/web/main-info-pages/gen/hypergraph-database.html'
onclick="window.open('/web/main-info-pages/gen/hypergraph-database.html','_self'"
>
Hypergraph Database
</a> 
</span>

<span class='top-banner-link'>
<a href='/web/main-info-pages/gen/binary-apis.html'
onclick="window.open('/web/main-info-pages/gen/binary-apis.html','_self');"
>
Binary APIs
</a>
</span>

</span>


<span class='top-banner-label-group'>
<span class='top-banner-label'>
<span>
Info:
</span>
</span>

<span class='top-banner-link'>
<a href='/web/main-info-pages/resources.html'
onclick="window.open('/web/main-info-pages/gen/resources.html','_self');"
>
Resources and Articles
</a>
</span>


<span class='top-banner-link'>
<a href='/web/main-info-pages/contact.html'
onclick="window.open('/web/main-info-pages/gen/contact.html','_self');"
>
Contact
</a>
</span>

</span>

</span>

</div>

